body {
    background-image: url('imagem/renderizacao-de-ilustracao-3djogos-fundo-do-jogador-papel-de-parede-abstrato-estilo-cyberpunk-metaverso-jogo-de-ficcao-cientifica-brilho-de-neon-da-sala-de-pedestal-da-cena-do-palco_800588-65.avif');
    background-size: 160%;
}
#titulo {
    text-align: center;
    font-family: 'Honk';
    font-size: 80px;
}
#quantidadeelista {
    text-align: center;
    background-color: rgb(2, 2, 252, 0.4);
    border-radius: 10px;
    margin: 500px;
    margin-top: 10%;
    padding: 30px;
    font-family: 'Acme';
    font-size: 20px;
    color: white;
}
#botao {
    background-color: rgb(201, 201, 11);
    border: 0cap;
    border-radius: 5px;
    font-size: 20px;
    padding: 30px;
    margin: 15px;
    color: white;
    font-family: 'Seymour One';
    cursor: pointer;
}
